<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoomMapper">
    <resultMap id="SysRoomResult" type="SysRoom">
        <id property="roomId" column="room_id"/>
        <result property="roomNumber" column="room_number"/>
        <result property="roomDept" column="room_dept"/>
        <result property="roomPeople" column="room_people"/>
        <result property="roomLeader" column="room_leader"/>
        <result property="roomPhoneNumber" column="room_phone_number"/>
    </resultMap>
    <sql id="selectRoom">
        select d.room_id, d.room_number, d.room_dept, d.room_people, d.room_leader, d.room_phone_number
        from sys_room d
    </sql>
    <select id="selectSysRoomList" parameterType="SysRoom" resultMap="SysRoomResult">
        <include refid="selectRoom"/>
    </select>
</mapper>